body,html{
  height: 100%;
  background:white;
}

@media (min-width: 100px) {
  body,html{
    height: 100%;
    width: 100%;
    background:white;
    font-family:'Courier New', Courier, monospace;
  }
}  


/* Menu component */
@media (min-width: 1000px){
   
    .jewelleryButton{
      margin-left: 10px;
      font-family:'Courier New', Courier, monospace  ;
    }   
    .menButton{
      margin-left: 10px;
    }   
    .womenButton{
      margin-left: 10px;
    }   
    .cart{
      margin-left:5%;
    }
    .account{
      margin-left:2%;
    } 
   
    .navbar2{
    display: none;
    }
  
  }

@media (min-width: 0px) and (max-width:580px) {
.navbar2{
  background-color: black;
  margin-top: -2%;
}
.search1{
  margin-left: 20%;
}
.d-flex{
    margin-top: 1%;
    margin-bottom: 3%;
    margin-right: 20%;
}
}

/* Home component */
  @media (min-width: 100px) {
    .homebackground{
      background-color: lightsteelblue;
      height: 100vh;
    }
      .mainCard{
        width: 20cm;
        margin-right: 1%;
        margin-left: 1.5%;      
      }
      .menuStyle{
        display: flex;
        flex-direction: row;
        align-items: center;
      }           
}
.menuCard{
  width: 60px;
  height: 3cm;
}
@media screen and (max-width:1230px) {
  .menuCard{
    width: 40px;
    height: 3cm
  }
  }
  @media screen and (max-width:1030px) {
    .menuCard{
      width: 20px;
      height: 3cm
    }
    }
    @media screen and (max-width:820px) {
      .menuCard{
        width: 10px;
        height: 3cm
      }      
      }
 @media screen and (max-width:710px) {
        .menuCard{
          width: 1px;
          height: 3cm
    }      
  }
      .imgSize1{
        height: 5cm;
        width: 7cm !important;
      }
      .imgSize2{
        height: 5cm;
        width: 7cm !important;
      }
      .imgSize3{
        height: 5cm;
        width: 7cm !important;
      }
 @media screen and (max-width:630px) {
  .imgSize1{
    height: 5cm;
    width: 6cm !important;
  }
 }
 @media screen and (max-width:550px) {
  .imgSize1{
    height: 5cm;
    width: 4cm !important;
  }
 } 
    /* .showMore{
      height: 1.3cm;
      width: 3cm;
      margin-top: 0%;
      margin-left: 83%;
      } */
    /* @media (max-width:1400px){
      .showMore{
      height: 1.3cm;
      width: 3cm;
      margin-top: 0%;
      margin-left: 0%;
      }
    }   */
    .cardArranged{
      display: flex;
      flex-direction: row;
      align-items: center;
      border-radius: 1500 px;
      margin: 10px;
      padding: 10px;
      background-color: lightsteelblue;
      }
@media (max-width:400px){
  .cardArranged{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 1500 px;
    margin: 10px;
    padding: 10px;
    background-color: lightsteelblue;
    }
    .imgSize1{
      height: 5cm;
      width: 3.5cm !important;
      margin-left: 50px;    
    }  
}
.mainCard{
  width: 20cm;
  margin-right: 1%;
  margin-left: 1.5%;   
}
@media (max-width:400px){
  .mainCard{
    width: 7cm;
    margin-bottom: 3%;
  }  
  .showMore{
    height: 1cm;
    width: 3cm;
    margin-top: 0%;
    margin-left: 30%;
    }
}
/* Electronics component */
.App{
    background-color: lightsteelblue;
    height: 100vh;
    overflow-x: hidden;
    font-family:'Courier New', Courier, monospace;
  }  
  .categeoriesBackground{
    background-color: lightsteelblue; 
   height: 100vh;
  }  
  .container1{
    background-color: lightsteelblue;
    margin:0 auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
  }


.imgSize{
  height: 3cm;
 width: 6cm;
 margin-left: 25%; 
}

.electronicCard{
  width: 30rem;
   height:9cm;
   margin-bottom: 5px;
   margin-top: 10px;
}
.buttons{
  display: flex;
  flex-direction: row;
  align-items: center;

}
.addCart{
  margin-left: 40%;
}
.info{
  scroll-margin-top: 105px
  }  
.titleEclipsis{
  display: inline-block;
  width: 400px;
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
}
@media (max-width: 500px) {
  .electronicCard{
    width: 20rem;
     height:3cm;
     margin-bottom: 5px;
     margin-top: 10px;
  } 
  .imgSize{
    height: 3cm;
   width: 5cm !important;
   margin-left: 20% !important ; 
  }
  .buttons{
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .addCart{
    margin-left: 0% !important;
  }
  .info{
  margin-left: 147px !important;
  }  
  .titleEclipsis{
    display: inline-block;
    width: 300px !important;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
  } 
}
/* Jewllery component */
  .categeoriesBackground{
    background-color: lightsteelblue; 
   height: 100vh;
  }  
  .container1{
    background-color: lightsteelblue;
    margin:0 auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }


.imgSize{
  height: 3cm;
 width: 6cm;
 margin-left: 25%; 
}

.jewelleryCard{
  width: 29rem;
  height:9cm;
  margin-bottom: 5px;
  margin-top: 10px;
}
.buttons{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.addCart{
  margin-left: 40%;
}
.info{
margin-left: 105px
}  
.titleEclipsis{
  display: inline-block;
  width: 400px;
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
}
@media (max-width: 500px) {
  .jewelleryCard{
    width: 20rem;
     height:3cm;
     margin-bottom: 5px;
     margin-top: 10px;
  } 
  .imgSize{
    height: 3cm;
   width: 5cm !important;
   margin-left: 20% !important ; 
  }
  .buttons{
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .addCart{
    margin-left: 0% !important;
  }
  .info{
  margin-left: 147px !important;
  }  
  .titleEclipsis{
    display: inline-block;
    width: 300px !important;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
  } 
}
/* Men's clothing component */
  .categeoriesBackground{
    background-color: lightsteelblue; 
   height: 100vh;
  }  
  .container1{
    background-color: lightsteelblue;
    margin:0 auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  

.imgSize{
  height: 3cm;
 width: 6cm;
 margin-left: 25%; 
}

.menCard{
  width: 29rem;
  height:9cm;
  margin-bottom: 5px;
  margin-top: 10px;
}
.buttons{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.addCart{
  margin-left: 40%;
}
.info{
margin-left: 105px
}  
.titleEclipsis{
  display: inline-block;
  width: 400px;
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
}
@media (max-width: 500px) {
  .menCard{
    width: 20rem;
     height:3cm;
     margin-bottom: 5px;
     margin-top: 10px;
  } 
  .imgSize{
    height: 3cm;
   width: 5cm !important;
   margin-left: 20% !important ; 
  }
  .buttons{
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .addCart{
    margin-left: 0% !important;
  }
  .info{
  margin-left: 147px !important;
  }  
  .titleEclipsis{
    display: inline-block;
    width: 300px !important;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
  } 
}

/* Women's clothing component */
  .categeoriesBackground{
    background-color: lightsteelblue; 
   height: 100vh;
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
  }  
  .container1{
    background-color: lightsteelblue;
    margin:0 auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }


.imgSize{
  height: 3cm;
 width: 6cm;
 margin-left: 25%; 
}

.womenCard{
  width: 29rem;
  height:9cm;
  margin-bottom: 5px;
  margin-top: 10px;
}
.buttons{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.addCart{
  margin-left: 40%;
}
.info{
margin-left: 105px
}  
.titleEclipsis{
  display: inline-block;
  width: 400px;
  /* max-lines: 2; */
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
}
@media (max-width: 500px) {
  .womenCard{
    width: 20rem;
     height:3cm;
     margin-bottom: 5px;
     margin-top: 10px;
  } 
  .imgSize{
    height: 3cm;
   width: 5cm !important;
   margin-left: 20% !important ; 
  }
  .buttons{
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .addCart{
    margin-left: 0% !important;
  }
  .info{
  margin-left: 147px !important;
  }  
  .titleEclipsis{
    display: inline-block;
    width: 300px !important;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
  } 
}

/* Cart component */

  .cartimgSize{
    height: 4cm;
    width: 5cm;
  }
.cartBackBackground{
  color: white;
  height: 100vh;
}
.titleEclipsis1{
  display: inline-block;
  width: 400px !important;
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
} 
  .titleEclipsis1{
    display: inline-block;
    width: 200px !important;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
  }   
  .cartimgSize{
    height: 2cm !important;
    width: 3cm !important;
  }


  @media (max-width: 750px) {
  .titleEclipsis1{
    display: none;
    
  }   
  .cartimgSize{
    height: 1cm !important;
    width: 1cm !important;
  }
}

  .wishList{
    overflow-x: hidden;
  }
  .cartimgSize{
    height: 4cm;
    width: 5cm;
  }
  .addCart1{
    margin-left: 0%;
  }
.wishlistBackground{
  color: white;
  height: 100vh;
}
@media (max-width: 400px) {
  .addCart1{
height: 60px;
}

}
/* Login component */

.loginBackground{
  background-image: url('https://images.unsplash.com/photo-1432821596592-e2c18b78144f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8bG9naW58ZW58MHx8MHx8&w=1000&q=80');
  height:100vh;
  font-size: 30px;
  background-size: cover;
  background-repeat: no-repeat;
}

 .loginCard{
  padding-left: 670px;
  padding-top: 280px
} 

   .image1{
    width: 400px;
    height: 290px !important;
  } 

  .loginCardHeader{
    text-align: center;
  }

  .emailLabel{
    text-align: center;
    padding-top: 20px;
    width: 8cm
  }
  .passwordLabel{
    width: 8cm;
    padding-top: 20px;
    text-align: center;
  }